* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1b1b23;
    width: 300px;
}

h3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323543;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-button,
.use {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turn {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("../source/image/turn.png");
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
    border: none;
    cursor: pointer;
    outline: none;
}

.on {
    filter: invert(44%) sepia(91%) saturate(4743%) hue-rotate(360deg) brightness(97%) contrast(106%);
}

input {
    margin-bottom: 10px;
    background-color: transparent;
    width: 100%;
    margin-top: 5px;
    outline: none;
    color: #111111;
    border: none;
    font-size: 1rem;
}