<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Follower Tracker</title>
  <link rel="stylesheet" href="../assets/style/style.css">
</head>
<body>
  <h3>FOLLOWER TRACKER</h3>
  <div class="use">
    <div class="box-button">
      <button id="toggle-button" class="turn"></button>
    </div>
    <p id="status-text">OFF</p>
  </div>
  <form id="credentials-form">
    <label for="username">GitHub Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="token">GitHub Token:</label>
    <input type="text" id="token" name="token" required><br>
    <button type="submit">Save</button>
  </form>
  <script src="../modules/script.js"></script>
</body>
</html>
